.plans {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px;
    padding-bottom: 20px;
    gap: 3rem;
}

.card {
    border-radius: 10px;
    height: 100%;
    display: block;
    color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-right: 1px solid #80ff00;
}

.card h1 {
    text-align: left;
    margin-bottom: 20px;
}




