.titulo {
    text-align: center;
    font-size: 1rem;
    margin: 20px;
    font-style: italic;
    font-weight: bold;
}

.plans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    padding-bottom: 20px;
    gap: 3rem;
}

.card {
    border-radius: 10px;
    border: 1px solid #80ff00;
    height: 100%;
    display: block;
    color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
}

.card h1 {
    text-align: center;
}




